[Unit]
Description=Node.js Hello World Http Server
[Service]
User=ubuntu
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/ubuntu/projectay/
ExecStart=/user/bin/node /home/ubuntu/projectay/server_services/main_service/server.js
[Install]
WantedBy=multi-user.target